<div class="h-screen bg-gradient-to-r from-blue-400 to-blue-500 justify-center flex items-center">
    <div class="bg-white rounded-3xl shadow-xl w-full mx-5 max-w-md">
        <div class="px-8 py-8 sm:px-10">
            <div class="relative">
                <div class="relative flex justify-center text-base leading-5">
                    <span class="px-2 font-semibold text-[22px] text-[#525151] bg-white">
                        Ingresar Datos
                    </span>
                </div>
            </div>
            <div class="mt-6">
                <div class="w-full space-y-6">
                    <div class="w-full">
                        <div class=" relative ">
                            <input type="text" class="rounded-xl flex-1 border border-gray-300 w-full pt-2 pb-2.5 px-4 text-gray-700 placeholder-gray-400 shadow-sm hover:shadow-md transition duration-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent" placeholder="Tienda"/>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class=" relative ">
                            <input type="text" class="rounded-xl flex-1 border border-gray-300 w-full pt-2 pb-2.5 px-4 text-gray-700 placeholder-gray-400 shadow-sm hover:shadow-md transition duration-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent" placeholder="Referencia"/>
                        </div>
                    </div>
                    <div>
                        <span class="block w-full rounded-md shadow-sm">
                            <button type="button" class="pt-2 pb-2.5 px-4 tracking-wide bg-indigo-500 focus:bg-indigo-600 hover:bg-indigo-600 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-1 focus:ring-offset-2  rounded-xl">
                                Buscar
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-6 border-t-2 rounded-b-3xl border-gray-200 bg-gray-50 px-10">
            <p class="text-base font-semibold italic leading-5 text-gray-500">
                Resultados...
            </p>
        </div>
    </div>
</div>
