<div *ngIf="showPdfViewer" [@fadeInOnEnter] [@fadeOutOnLeave] class="fixed z-50 inset-0 my-auto mx-auto h-[75vh] w-[91vw]">
    <div class="flex items-center justify-center -mt-10 mb-5">
        <div *ngIf="showPdfViewer" [@slideInDownOnEnter] class="inline-flex items-center bg-white leading-none text-blue-500 rounded-full p-2 shadow text-teal text-sm">
          <span class="inline-flex bg-blue-500 font-semibold text-white rounded-full h-6 px-3 justify-center items-center">{{ resultFound.referencia }}</span>
          <span class="inline-flex px-2 font-semibold">PDF De La Tienda {{ resultFound.tienda }}</span>
          <span (click)="showPdfViewer = false" class="inline-flex font-semibold cursor-pointer hover:bg-red-600 bg-red-500 text-white rounded-full pb-0.5 h-6 px-3.5 justify-center items-center">Cerrar</span>
        </div>
      </div>
      <object [data]="resultFound.url | safe:'resourceUrl'" width="100%" height="100%" type="application/pdf"></object>
</div>

<div class="h-screen bg-gradient-to-r from-blue-400 to-blue-500 justify-center flex items-center">
    <div *ngIf="!showPdfViewer" class="bg-white rounded-3xl shadow-xl w-full mx-5 max-w-md">
        <div class="px-8 py-8 sm:px-10">
            <div class="relative">
                <div class="relative flex justify-center text-base leading-5">
                    <span class="px-2 font-semibold text-[22px] text-[#383838] bg-white">
                        Ingresar Datos
                    </span>
                </div>
            </div>
            <div class="mt-6">
                <form [formGroup]="searchForm" (ngSubmit)="search()" class="w-full space-y-6">
                    <div class="w-full">
                        <div class="relative">
                            <span class="absolute text-lg top-2.5 left-3.5 text-gray-400">
                                <ion-icon name="storefront"></ion-icon>
                            </span>
                            <input formControlName="tienda" type="text" class="rounded-xl flex-1 border border-gray-300 w-full pt-2 pb-2.5 pl-9 pr-4 text-gray-700 placeholder-gray-400 shadow-sm hover:shadow-md transition duration-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent" placeholder="Tienda"/>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="relative">
                            <span class="absolute top-3 left-3.5 text-gray-400">
                                <ion-icon name="bookmark"></ion-icon>
                            </span>
                            <input formControlName="referencia" type="text" class="rounded-xl flex-1 border border-gray-300 w-full pt-2 pb-2.5 pl-9 pr-4 text-gray-700 placeholder-gray-400 shadow-sm hover:shadow-md transition duration-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent" placeholder="Referencia"/>
                        </div>
                    </div>
                    <span class="block w-full rounded-md shadow-sm">
                        <button type="submit" class="pt-2 pb-2.5 px-4 tracking-wide bg-indigo-500 focus:bg-indigo-600 hover:bg-indigo-600 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-1 focus:ring-offset-2  rounded-xl">
                            Buscar
                        </button>
                    </span>
                </form>
            </div>
        </div>
        <div [ngClass]="{'h-[55px]': resultFound?.tienda, 'h-[68px]': !resultFound?.tienda}" class="flex items-center justify-center border-t-2 h-[68px] relative overflow-hidden rounded-b-3xl border-gray-200 px-10">
            <p *ngIf="!isLoading" class="text-base text-center -mt-1 font-semibold leading-5 text-gray-500">
                {{ bottomMessage }}
            </p>
            
            <div class="absolute inset-0 top-8 mx-auto w-[90px] h-[90px]">
                <div class="relative">                    
                    <ngx-spinner template="<img src='../../../assets/loading.gif'/>"  color="rgba(0, 0, 0, 0.6)" bdColor="rgba(0, 0, 0, 0)" [fullScreen]="false" name="resultsSpinner"></ngx-spinner>
                </div>
            </div>
        </div>

        <div *ngIf="resultFound" [@bounceInOnEnter] [@bounceOutOnLeave] class="card mx-8 mb-10 sm:mx-10 border border-gray-300 rounded-2xl hover:shadow-md transition duration-200">
            <div class="m-4 relative flex flex-col justify-end">
                <h2 class="text-lg relative text-gray-700">
                    <span class="absolute top-0.5 -ml-0.5 text-lg mr-1">
                        <ion-icon name="bookmark"></ion-icon>
                    </span>
                    <span class="ml-5 font-semibold">
                        {{ resultFound.referencia }}
                    </span>

                    <span class="text-sm text-teal-800 font-mono mt-0.5 inline rounded-full px-3.5 align-top float-right">
                        <span class="text-lg text-gray-600">
                            <ion-icon name="storefront"></ion-icon>
                        </span>
                        <span class="absolute mt-0.5 text-gray-600 text-[17px] font-semibold ml-1">
                            {{ resultFound.tienda }}
                        </span>
                    </span>
                </h2>

                <button (click)="showPdfViewer = true" class="text-sm text-right underline text-gray-800">
                    Ver PDF
                </button>
            </div>
          </div>
    </div>
</div>

<ng-template #notifierTemplate let-notificationData="notification">
    <div class="cursor-pointer absolute border-l-4 border-gray-700 bg-white shadow-xl flex items-center px-5 justify-between rounded-lg h-12 min-w-[280px] w-max -right-1 -top-1">
        <div class="w-full h-full items-center flex justify-start">
            <span class="text-gray-700 mr-1.5 transform transition duration-300 hover:text-red-500 text-3xl -mb-1.5 cursor-pointer">
                <span [ngSwitch]="notificationData.type">
                    <ion-icon *ngSwitchCase="'success'" [name]="'checkmark-circle'"></ion-icon>
                    <ion-icon *ngSwitchCase="'warning'" [name]="'alert-circle'"></ion-icon>
                </span>
            </span>
            
            <span class="text-sm pb-0.5 font-semibold text-gray-700">{{ notificationData.message }}</span>
        </div>

        
        <span class="text-gray-700 transform transition duration-300 hover:text-red-500 text-xl -mb-0.5 cursor-pointer">
            <ion-icon name="close"></ion-icon>
        </span>
    </div>
</ng-template>